body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: cornflowerblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.app {
  background: crimson;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
}
